<%= @user.username %>さま
<hr />
<p>
この度は、本サイトへのユーザー登録をいただきましてありがとうございました。<br />
以下は、登録いただいたユーザー情報です。
</p>

<ul>
<li>ユーザー名：<%= @user.username %></li>
<li>パスワード：（セキュリティ保護のため、伏せています。）</li>
<li>ユーザー名：<%= @user.email %></li>
</ul>

<p>サイトをご利用いただくには、<%= link_to 'こちら', { host: 'www.example.com', controller: :books,
  action: :index } %>からログインを行ってください。</p>

  <hr />
  <%= mail_to 'webmaster@wings.msn.to', '「サーバーサイド技術の学び舎」事務局' %>
  <%= image_tag attachements['wings.jpg'].url, size: '53x17' %>
</body>
</html>
