<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Rails入門' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag %>
    <%= favicon_link_tag 'favicon.icon %>
    <%= favicon_link_tag 'fav-icon.ong, type: 'image/png' %>
  </head>

  <body>
    <%= auto_discovery_link_tag(:rss,
      { controller: :books, action: :index, id: :rails },
      title: 'サーバサイドの学び舎 - WINGS -'
    ) %>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
